In [6]:
from tslearn.metrics import dtw
import pandas as pd

In [2]:
dtw([0,1,2,3], [0,2,3,4])

1.4142135623730951

In [3]:
dtw([0,1,2,3], [0,1,2,3])

0.0

In [4]:
dtw([0,1,2,3], [0,0.5,2,3])

0.5

In [5]:
dtw([0,1,2,3], [0,0.5,1,3])

1.118033988749895

In [36]:
columns = ['pitch', 'ticks', 'duration', 'measure', 'offset']

In [14]:
m1 = pd.read_csv('../data/split_melody_data/v1.2/Real Book/All Of Me original.csv', index_col=0)[columns]

In [15]:
m2 = pd.read_csv('../data/split_melody_data/v1.2/Real Book/A Felicidade original.csv', index_col=0)[columns]

In [16]:
dtw(m1, m1)

0.0

In [17]:
dtw(m1, m2)

3602.407667102656

In [37]:
m3 = pd.read_csv('../data/split_melody_data/v1.2/Real Book/Beauty And The Beast original.csv', index_col=0)[columns]

In [38]:
m4 = pd.read_csv('../data/split_melody_data/v1.2/Jazz Standards/Beauty And The Beast -1-.csv', index_col=0)[columns]

In [27]:
dtw(m3, m3)

0.0

In [28]:
dtw(m3, m4)

172.01744097619869

In [74]:
import os
from glob import glob
import itertools

folder = f'../data/split_melody_data/v1.2/Real Book'

filepaths = [y for x in os.walk(folder) for y in glob(os.path.join(x[0], '*.csv'))]

In [75]:
scores = []


for f1, f2 in list(itertools.combinations(filepaths, 2)): 
    df1 = pd.read_csv(f1)[columns]
    df2 = pd.read_csv(f2)[columns]

    score = 1 / dtw(df1, df2)
#     print(score)
    scores.append({
        'filename1': os.path.basename(f1),
        'filename2': os.path.basename(f2),
        'score': score
    })

In [76]:
df = pd.DataFrame.from_dict(scores)

In [77]:
df.sort_values('score')

,filename1,filename2,score
9599,Girl Talk original.csv,Now's The Time original.csv,116.558998
9652,Girl Talk original.csv,Bessie's Blues original.csv,129.499035
17358,Bessie's Blues original.csv,Blues For Alice original.csv,133.828248
12688,Now's The Time original.csv,Bessie's Blues original.csv,134.480482
12694,Now's The Time original.csv,Blues For Alice original.csv,134.736780
...,...,...,...
679,A Night In Tunisia original.csv,"Straight, No Chaser original.csv",22019.613507
598,A Night In Tunisia original.csv,Equinox original.csv,22265.197417
670,A Night In Tunisia original.csv,Peace original.csv,22302.855759
693,A Night In Tunisia original.csv,Things Ain't What They Used To Be original.csv,22323.123393
718,A Night In Tunisia original.csv,Blue In Green original.csv,22366.866969

In [93]:
df['score']

0        0.000308
1        0.002853
2        0.000095
3        0.004138
4        0.001536
           ...
19301    0.000139
19302    0.001615
19303    0.000242
19304    0.003895
19305    0.000235
Name: score, Length: 19306, dtype: float64

In [94]:
df.groupby('filename1').apply(np.mean)['score'].var()

/home/manu/anaconda3/envs/thesis/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/home/manu/anaconda3/envs/thesis/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3438: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

6.581625484497871e-07

In [95]:
df.groupby('filename2').apply(np.mean)['score'].var()

/home/manu/anaconda3/envs/thesis/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/home/manu/anaconda3/envs/thesis/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3438: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

5.534306754103713e-07

In [96]:
df['score'].var()

1.8484370413398177e-06